
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        #emailInput="ngModel" name="email"
        ngModel matInput
        type="email" placeholder="Email Address"
        required email
      >
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        #passwordInput="ngModel" name="password"
        ngModel matInput
        type="password" placeholder="Password"
        required
      >
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password!</mat-error>
    </mat-form-field>
    <button mat-raised-button *ngIf="!isLoading"
     color="accent"
     type="submit">Login</button>
  </form>

</mat-card>
